* {
  cursor: url(./img/target.png) 60 60, auto;
}

body {
  background-color: black;
}

.coordinates-text-box {
  position: absolute;
  color: #fff;
}

.target-gridX {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 1px;
  top: 50%;
}

.target-gridY {
  position: absolute;
  background-color: #fff;
  width: 1px;
  height: 100%;
  left: 50%;
}
